--extra-index-url https://download.pytorch.org/whl/cu124
lightning==2.5.0
numpy==2.2.3
onnx==1.17.0
onnxruntime==1.20.1
opencv-python==4.11.0.86
pytorch-msssim==1.0.0
torch==2.6.0
torchvision==0.21.0
tensorboard==2.19.0
