--extra-index-url https://download.pytorch.org/whl/cu128
albumentations==2.0.8
lightning==2.5.5
onnx==1.18.0
onnxruntime==1.22.0
pytorch-msssim==1.0.0
torch==2.8.0
torchdata==0.11.0
torchvision==0.23.0
tensorboard==2.20.0
