--extra-index-url https://download.pytorch.org/whl/cu128
albumentations==2.0.5
lightning==2.5.1
onnx==1.17.0
onnxruntime==1.21.1
pytorch-msssim==1.0.0
torch==2.7.0
torchdata==0.11.0
torchvision==0.22.0
tensorboard==2.19.0
